<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

  <div>
    <%= @tweet.content %>
  </div>

  <div>
    <a href="/<%= tweet.id %>/edit">Edit</a>
    <a href="/<%= tweet.id %>/delete">Delete</a>
    <a href="/">Back</a>
  </div>

</body>
</html>
